#phrase-analyse {
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    padding: 20px;
    /* Empêcher la sélection de la phrase
     * pour personnaliser le comportement */
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.phrase-cliquable:hover {
    cursor: pointer;
}

.phrase-selectionne {
    font-weight: bold;
    font-size: 55px;
}

.phrase-sujet {
    text-decoration: underline red;
}

.phrase-verbe_principal {
    text-decoration: wavy underline green;
}

.phrase-cod {
    text-decoration: dashed underline blue;
}

.phrase-coi {
    text-decoration: dashed underline pink;
}

.phrase-attribut_du_sujet {
    text-decoration: dashed underline green;
}

.phrase-attribut_du_cod {
    text-decoration: dashed underline cyan;
}

.phrase-complement_d_agent {
    text-decoration: underline pink;
}

.phrase-complement_du_verbe_impersonnel {
    text-decoration: underline green;
}

.phrase-complement_circonstanciel {
    border-style: dashed;
    border-color: red;
}

.phrase-verbes {
    font-style: italic;
}

.phrase-noyau {
    border-style: solid;
    border-color: black;
    border-width: 8px;
    border-radius: 40px;
}

.phrase-complement_du_nom {
    border-style: dotted;
    border-color: green;
}

.phrase-epithete {
    border-style: double;
    border-color: green;
}

.phrase-apposition {
    border-style: none double double double;
    border-color: green;
}

.phrase-complement_de_l_adjectif {
    border-style: dotted;
    border-color: Tomato;
}

.phrase-modalisateur {
    border-style: dashed;
    border-color: green;
}

.phrase-auto-enonciative {
    border-style: dashed;
    border-color: blue;
}

.phrase-connecteur {
    border-style: dashed;
    border-color: Tomato;
}

.phrase-balise_textuelle {
    border-style: dashed;
    border-color: black ;
}

.phrase-independante {
    border-left-style: solid;
    border-color: rgb(60, 179, 113);
    border-width: 8px;
    background-color: rgb(60, 179, 113, 0.5);
}

