/* Drop zone */
#analyse_fichier_input {
    width: 100%;
    display: block;
}

/* Sélecteur de fonctions
 */

#nouvelle_phrase-fonctions-selection {
    left: -120px;
    transition: 0.5s;
    border-radius: 0 3px 0 3px;
}

#nouvelle_phrase-fonctions-selection:hover {
    left: 0;
}

.selecteur {
    position: fixed;
     /*background-color: #E7E9EB;*/

}
.selecteur-element {
    padding: 3px;
    margin: 2px;

    font-size:16px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.selecteur-element:hover {
    background-color: #cccccc;
    cursor: pointer;
}
.selecteur-element.selectionne {
    font-weight: bold;
    font-size: 20px;
}

.selecteur-element.valide {
    font-style: italic;
}

.sous_menu_contenu {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 100%;
}
