/* Drop zone */
#analyse_fichier_input {
    width: 100%;
    display: block;
}

/* Sélecteur de fonctions
 */

.selecteur {
    position: relative;
    display: inline-block;
}
.selecteur-element {
    padding: 5px;
    font-size:16px;
}

.selecteur-element:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
.selecteur-element.selectionne {
    font-weight: bold;
    font-size: 20px;
}

.selecteur-element.valide {
    font-style: italic;
}

.sous_menu_contenu {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0%;
    left: 100%;
}
